// Colors

$main: #43612a;
$secondary: #ffffff;
$text: #111111;
$background: #d3d3d3;


//Fonts

@mixin fontMain($size) {
    font-size: $size;
    font-family: rubik, sans-serif;
}

@mixin fontText($size) {
    font-size: $size;
    font-family: oswald, sans-serif;
}

//Flex

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

//Button
