@import "../../../sass/variables/variables.scss";

//Global

html {
    font-size: 62.5%;
    margin: 0rem;
    padding: 0rem;
}

//Nav versión móvil

nav {
    @include flex(row, space-around, center);
    background-color: $main;
    height: 56px;
    .navLogo {
        @include fontMain(20px);
        color: $secondary;
        text-transform: uppercase;
    }
    .navLoginButton{
        @include fontMain(14px);
        background-color: $secondary;
        color: $main;
        cursor: pointer;
        border-radius: 8px;
        border: 0rem;
        padding: 8px 16px;
    }
}
