@import "../../../sass/variables/variables.scss";

.cardContainer {
    @include flex(row, flex-start, flex-start);
    padding: 16px;
    .cardLogoContainter{
        img{
            width: 120px;
            height:120px;
            padding-right: 32px;
        }
    }
    .cardInfoContainer{
        padding-top: 16px;
        h1{
            @include fontMain(20px);
            color: $text;
            text-transform: uppercase;
            margin-bottom: 8px;
        }
        h3 {
            @include fontMain(14px);
            color: $text;
            margin-bottom: 4px;
        }
    }
}